@import "theme.styl"

article#article-main-page
  text-align left
  h1, h2, h3, h4, h5, h6, h7
    padding 25px 0 15px
    padding-top:100px;
    margin-top:-100px;
    font-weight 700
    &:focus
      outline none
    &::before
      display: block
      content: " "
      height 0
      visibility: hidden
  h1
    font-size 27px
  h2
    font-size 25px
  h3
    font-size 22px
  h4, h5, h6, h7
    font-size 20px
  ul, ol
    list-style-type square
    line-height 1.5em
    padding-left 2.5em
  li
    list-style-type square
    margin .5em 0
    color $color-typegraphy-title
    font-weight 200
  p
    font-size 17px
    line-height 25px
    color $color-typegraphy-title
    font-weight 200
    margin 15px 0
  img
    width 100%
  code.hljs
    display block
    padding 0
    border 0
    margin 0
    width 100%
    font-size 14px
    font-weight 100
    background #eee !important
    color #333
    white-space pre-wrap
    > ul
      list-style decimal
      margin 30px 0 0 45px !important
      padding 0
      background-color #fff
      > li
        list-style decimal-leading-zero
        padding 5px
        margin 0
        line-height 16px
        background #fcfcfc
        border-left 1px solid #ddd
        word-break break-all
        word-wrap break-word
        &:nth-of-type(even)
          background-color #fafafa
          color inherit




