#article-page-content > article {
  text-align: left;
  padding: 0 10px;
}
#article-page-content > article h1,
#article-page-content > article h2,
#article-page-content > article h3,
#article-page-content > article h4,
#article-page-content > article h5,
#article-page-content > article h6,
#article-page-content > article h7 {
  padding: 25px 0 15px;
  font-weight: 700;
}
#article-page-content > article h1 {
  font-size: 27px;
}
#article-page-content > article h2 {
  font-size: 25px;
}
#article-page-content > article h3 {
  font-size: 22px;
}
#article-page-content > article h4,
#article-page-content > article h5,
#article-page-content > article h6,
#article-page-content > article h7 {
  font-size: 20px;
}
#article-page-content > article ul {
  list-style-type: circle;
  margin: 0;
  line-height: 1.5em;
  padding-left: 1em;
}
#article-page-content > article li {
  margin: 0.5em 0;
}
#article-page-content > article p {
  font-size: 17px;
  line-height: 25px;
  color: #333;
  font-weight: 200;
  margin: 15px 0;
}
#article-page-content > article img {
  width: 100%;
}
#article-page-content > article pre {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 0 10.5px;
  line-height: 1.7;
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  color: #333;
  background-color: rgba(128,128,128,0.05);
  border: 1px solid rgba(128,128,128,0.075);
  border-radius: 0;
  word-break: break-all;
  word-wrap: break-word;
}
#article-page-content > article pre.prettyprint {
  position: relative;
  padding: 5px 5px 3px 60px;
  margin: 0 0 1.7em;
  line-height: 1.7;
  border: 0 solid #888;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
#article-page-content > article pre.prettyprint code {
  box-sizing: border-box;
  padding: 0;
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  white-space: pre;
  word-wrap: normal;
}
#article-page-content > article pre.prettyprint .pre-numbering {
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 36.5px;
  line-height: 1.7;
  text-align: right;
  background-color: #eee;
  border-right: 1px solid #ddd;
  list-style: none;
}
#article-page-content > article pre.prettyprint .pre-numbering > li {
  margin: 0;
}
