@import "theme.styl";

#article-page-content
  > article
    text-align left
    padding 0 10px
    h1, h2, h3, h4, h5, h6, h7
      padding 25px 0 15px
      font-weight 700
    h1
      font-size 27px
    h2
      font-size 25px
    h3
      font-size 22px
    h4, h5, h6, h7
      font-size 20px
    ul
      list-style-type circle
      margin 0
      line-height 1.5em
      padding-left 1em
    li
      margin .5em 0
    pre
      font-size 16px
      line-height 22px
      white-space pre-wrap
    p
      font-size 17px
      line-height 25px
      color $color-typegraphy-title
      font-weight 200
      margin 15px 0
    img
      width 100%