// =================================  font start ===================================
// font faces
$body-font = "Helvetica Neue", Arial, sans-serif
$logo-font = "Helvetica Neue", Arial, sans-serif
$code-font = "Helvetica Neue", Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em
// =================================  font end ===================================

// =================================  color start ===================================
// normal colors
$dark   = #2c3e50
$light  = #7f8c8d
$green  = #42b983
$red = #ff6666
$medium = #34495e

// element ui theme color
$color-main-primary = #409EFF
$color-secondary-sucess = #67C23A
$color-secondary-warning = #EB9E05
$color-secondary-danger = #FA5555
$color-secondary-info = #878D99

// typegraphy related
$color-typegraphy-title = #333
$color-typegraphy-title-hover = $color-main-primary
$color-typegraphy-subtitle = #666

// box border related
$color-border = #eee
$color-border-hover = #ddd
// =================================  color end ===================================

// =================================  size start ===================================
$radius = 2px
$content-padding-top = 30px
$header-inner-height = 41px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top
$h2-margin-top = 45px
$h3-margin-top = 52px
// =================================  size end ===================================
