@import "theme.styl";

// ======================== 默认主题 ==========================
body
	position relative
	font-family $body-font
	font-size $body-font-size
	padding-top $mobile-header-height
	min-height 100vh
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	background-color #fafafa
	@media screen and (min-width $responsive-lg)
		padding-top $header-height

body.dark
	background-color $dark-background-color
	// cell的主题
	.article-list-cell, .book-cell, .book-note-cell
		background-color $dark-cell-background-color
		border 1px solid $dark-border-color
		.text-wrapper
			.title
				a
					color $dark-title-color
					&:hover
						color $dark-title-hover-color
			.desc
				color $dark-desc-color
				a
					color $dark-desc-hover-color
			.operate_info
				a
					color $dark-info-color
					&:hover
						color $dark-info-color-hover
		.img-wrapper
			&.big-image
				box-shadow 1px 1px 1px $dark-border-color
	.book-note-cell
		.toggle-arrow
			background-color $dark-cell-toggle-background-color
			&:hover
				color $dark-info-color-hover
		.book-infos
			.book-infos-wrapper
				.img
					border 1px solid $dark-border-color
					box-shadow 1px 1px 1px $dark-border-color
				.book-info
					.title
						color $dark-title-color
					.desc
						color $dark-desc-color
					.progress
						color $dark-desc-color
	// section-title的主题
	.section-title
		.title
			.square
				background $dark-sectionTitle-square-color
			.main-title
				color $dark-sectionTitle-title-color
			.vertical-line
				background-color $dark-sectionTitle-line-color
			.sub-title
				color $dark-sectionTitle-subtitle-color
			.view-more
				a
					color $dark-sectionTitle-title-color
	// about主题
	.about
		background-color $dark-background-color
		border 1px solid $dark-border-color
		img.avatar
			border 5px solid $dark-border-color
		.name
			color $dark-title-color
		.desc
			color $dark-desc-color
		.line
			background-color $dark-border-color
		h4
			color $dark-title-color
		.progresses
			p.title
				color $dark-title-color
	// recommend hot 主题
	.recommend, .hot
		background $dark-background-color
		.content
			border-left 1px solid $dark-border-color
		.top, .others
			.tags
			.title
				> a
					color $dark-link-color
					&:hover
						color $dark-link-color-hover
			.info
				span
					color $dark-info-color
				a
					&:hover
						color $dark-link-color-hover
			.desc
				color $dark-desc-color
		.others
			li
				border-top 1px solid $dark-border-color
	// friendlinks主题
	.friend-links
		ul.link-list
			border-left 1px solid $dark-border-color
			li
				a
					&:hover
						.link
							color $dark-link-color
					img
						border 1px solid $dark-border-color
						&.no-pic
							border none
					.right
						p
							&.title
								color $dark-title-hover-color
							&.link
								color $dark-link-color-hover
	// panel主题
	.panel
		background $dark-background-color
		h4
			color $dark-title-color
			border-left 5px solid $dark-link-color-hover
			&.center
				border 1px solid $dark-border-color
			&.left
				border-left 5px solid $dark-link-color-hover
			&.right
				border-right 5px solid $dark-link-color-hover
	// footer主题
	.common-footer
		background $dark-header-background-color
		border-top 1px solid $dark-border-color
		.copyright, .copyright-english
			color $dark-title-color
			a
				color $dark-link-color
				&:hover
					color $dark-link-color-hover
	// tag的主题
	.tag
		background-color transparent!important
		border-color $dark-border-color!important
		span
			color $dark-info-color!important
