ul.menu-root
  position relative
  padding-left: 1.2em
  z-index 2
  max-height 80vh
  overflow-y auto
  margin-top 10px
  > li
    list-style-type: square
    line-height 2em
    > a
      cursor pointer
      display block
      height 100%
      width 100%
      margin 0
      padding 0
      font-size 16px
      color $color-gradually-gray-21
      &.active
        color $color-main-primary
    > ul > li > a
      font-size 16px
      color $color-gradually-gray-51