#side-toc {
  overflow-y: hidden;
}
#side-toc > ul {
  overflow: hidden;
  position: relative;
}
#side-toc > ul li {
  list-style: none;
}
.toc-list {
  margin: 0;
  padding-left: 25px;
  overflow-y: hidden;
}
.toc-list-item > a.toc-link {
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
}
a.toc-link {
  color: currentColor;
  height: 100%;
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.is-collapsed {
  max-height: 0;
}
.is-position-fixed {
  position: fixed !important;
  top: 0;
}
.is-active-link {
  font-weight: 700;
}
.toc-link::before {
  background-color: #eee;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 1px;
}
.is-active-link::before {
  background-color: #409eff;
  width: 3px;
}
