@import "../../../../common/stylus/theme.styl";

body
  font-family $body-font
  font-size $body-font-size
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color white
  margin 0
  padding-top $header-height
  @media screen and (min-width 992px)
    padding-top 60px
  #header
    position fixed
    padding 0 180px
    width 100%
    top 0
    box-shadow 0 0 1px rgba(0, 0, 0, .25)
    background-color rgba(255, 255, 255, .9)
    transition background-color .3s ease-in-out
    z-index 11
    #logo
      display inline-block
      font-size 1.5em
      height $header-height
      line-height $header-height
      color $dark
      font-weight 500
      img
        vertical-align middle
        margin-right 6px
        width $header-inner-height
        height $header-inner-height
  #nav
    float right
    height $header-height
    line-height $header-height
    list-style-type none
    .nav-dropdown-container
      padding 0 20px
      text-align center
      min-width 100px
      &:hover
        > .nav-dropdown
          display block
    > li
      position relative
      display inline-block
      .nav-link
        font-size 16px
      .nav-dropdown
        top $header-height
        right 0
        li
          position relative
          display inline-block
          height $header-height
          line-height $header-height
          min-width 100px
          .nav-link
            font-size 15px
            &.current
              border-bottom none
              color $color-main-primary
              &::after
                content ""
                width 0
                height 0
                border-left 5px solid $color-main-primary
                border-top 3px solid transparent
                border-bottom 2px solid transparent
                position absolute
                top 50%
                margin-top -4px
                left 8px
          &:hover
            > .nav-dropdown
              display block
          > .nav-dropdown
            top $header-height
            left -1px
            right -1px
            max-height "calc(100vh - %s)" % $header-height
            overflow-y auto
            > li
              display block
              position relative
              height $header-inner-height
              line-height $header-inner-height
              text-align center
              .nav-link
                font-size 15px
                &.current
                  border-bottom none
                  color $color-main-primary
                  &::after
                    content ""
                    width 0
                    height 0
                    border-left 5px solid $color-main-primary
                    border-top 3px solid transparent
                    border-bottom 2px solid transparent
                    position absolute
                    top 50%
                    margin-top -4px
                    left 8px
    .nav-dropdown
      position absolute
      display none
      box-sizing border-box
      background-color #fff
      border-left 1px solid $color-border
      border-right 1px solid $color-border
      border-bottom 1px solid $color-border
      text-align center
      white-space nowrap
      max-width 60vw
    a
      text-decoration none
      color $color-gradually-gray-41
      font-weight 500
      font-size .9em
      display block
      &:hover
        text-decoration underline
        color $color-main-primary
      &:hover:not(.current)
        border-bottom none
    .nav-link
      cursor pointer
      margin 0 15px
      .arrow
        display inline-block
        vertical-align middle
        margin-top -1px
        margin-left 6px
        margin-right -14px
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 5px solid #ccc

// 搜索框
.search-query
  height 30px
  line-height 30px
  box-sizing border-box
  padding 0 15px 0 30px
  border 1px solid #e3e3e3
  color $dark
  outline none
  border-radius 15px
  margin-right 10px
  transition border-color .2s ease
  background #fff url(./../../../assets/search.png) 8px 5px no-repeat
  background-size 20px
  vertical-align middle !important
  &:focus
    border-color $color-main-primary

// 小屏模式下的侧边导航
#mobile-bar
  position fixed
  top 0
  left 0
  width 100%
  height $mobile-header-height
  background-color #fff
  z-index 11
  display none
  box-shadow 0 0 2px rgba(0, 0, 0, .25)
  .menu-button
    position absolute
    cursor pointer
    width 24px
    height 24px
    top 8px
    left 12px
    background url(./../../../assets/menu.png) center center no-repeat
    background-size 24px
  .logo
    position absolute
    width 30px
    height 30px
    background url(./../../../assets/logo.png) center center no-repeat
    top 5px
    left 50%
    margin-left -15px
    background-size 30px

@media screen and (max-width $responsive-lg)
  body
    -webkit-text-size-adjust none
    font-size 14px
  #header
    display none
  #mobile-bar
    display block
